* {
    color: white;
    font-family: "Space Grotesk", sans-serif;
}

html{
    background-color: black;
}
.dark {
    background-color: black;
}
header {
    border: 3px solid rgb(195, 53, 251);
    padding: 10px;
    margin: 20px;
    font-size: xx-large;
    background-image: url(../images/galaxy.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

#ping{
    padding-left: 300px;
    font-size:20px;
    background-color: transparent;
}

.section-1, .section-2{
    background-image:  url(../images/galaxy.jpg);
}

#heartConst{
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.chatSection {
    border:5px solid black;
}

#chatInput {
    height:50px;
}
#lastChat {
    height:250px;
}

.pickup-button {
    border: 3px solid rgb(195, 53, 251);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.generate-pickup-line {
    flex-basis: 400px;
    margin: 5px;
    padding: 5px;
}

#sendChat{
    display: flex;
    justify-content: center;
}

.chatbox {
    border: 3px solid rgb(195, 53, 251);
    justify-content: center;
}

.alien-profile, .section-1, .alien-image, .alien-info, #response, #lastChat {
    border: 3px solid rgb(195, 53, 251);
}

.alien-info, #response{
    height:600px;
}

.alienImage{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom:16px;
    object-fit: fill;
}

#alienImage{
    border: 3px solid rgb(195, 53, 251);
    height: 500px;
    width: 500px;
}