* {
    background-color: black;
    color: white;
}

html{
    background-color: black;
}

header {
    border: 3px solid rgb(195, 53, 251);
    padding: 10px;
    margin: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-size: xx-large;
    background-image: url(../images/galaxy.jpg);
    background-size: cover;
}

#ping{
    padding-left: 300px;
    font-size:20px;
    background-color: transparent;
}

.section-1, .section-2{
    background-image:  url(../images/galaxy.jpg);
}

#heartConst{
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.chatSection {
    border:5px solid black;
}

#chatInput {
    height:50px;
}
#lastChat {
    height:250px;
}

.pickup-button {
    border: 3px solid rgb(195, 53, 251);
}

.generate-pickup-line {
    margin: 5px;
    padding: 5px;
}

.chatbox {
    border: 3px solid rgb(195, 53, 251);
    justify-content: center;
}

.alien-profile, .section-1, .alien-image, .alien-info, #response, #lastChat {
    border: 3px solid rgb(195, 53, 251);
}

.alien-image{
    height:400px;
}
.alien-info, #response{
    height:600px;
}