header {
    border: 4px solid #f61327;
    padding: 30px;
    margin: 40px;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    font-size: 6em;
    background-image: url(../images/galaxy.jpg);
    background-size: cover;
}

#heartConst{
    background-color: transparent;
    width: 20px;
    height: 20px;
    
}

.float{
    left:50px;
    width: 100px;
    height: 200px;
    position: relative;
    bottom:-500px;
    opacity:0;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 9s;  
}
#float2{
    gap:50px;
    animation-delay: 3s;
}

#float3{
    gap:200px;
    animation-delay: 2s;
}

@keyframes example {
    0%   {bottom:-500px;}
    5% {opacity:.5}
    10% {opacity:1}
    100% {bottom:1000px;}
  }

html {
    background-color: black !important
}

body {
    background-color: rgb(7, 6, 6);
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    min-height: 100vh;
}

label.label {
    background-color: transparent;
    color:#e85ef7 ;
    font-weight: dark;
    font-family: "Space Grotesk", sans-serif;
    font-size: xx-large;
}

.buttons {
    display: flex;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    padding: 35px;  
}

#heartButt {
    background-image: url(../images/knockout.png);
    background-size: cover;
    height: 525px;
    width: 350px;
}

body { 
    background-image: url('../images/STARS2.gif'); 
    background-size: cover; 
    background-attachment: fixed; 
  } 