header {
    border: 3px solid #f61327;
    padding: 10px;
    margin: 20px;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    font-size: xx-large;
    background-image: url(../images/galaxy.jpg);
    background-size: cover;
}

#heartConst{
    background-color: transparent;
    width: 20px;
    height: 20px;
}
html {
    background-color: black !important
}

body {
    background-color: rgb(7, 6, 6);
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    min-height: 100vh;
}

label.label {
    background-color: transparent;
    color: rgb(250, 146, 235);
    font-weight: dark;
    font-family: "Space Grotesk", sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
}

#heartButt {
    background-image: url(../images/knockout.png);
    background-size: cover;
    height: 525px;
    width: 350px;
}